@model IEnumerable<Sih.Entities.Gestion.PiecesTypeEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="AddOrUpdate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Libelle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PiecesTypeEntityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PiecesTypeEntityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PiecesTypeEntityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
