@model List<Sih.Web.Areas.Administration.Models.ManageUserRolesViewModel>

@{ 
    ViewData["Title"] = "Manage";
}


<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>@Localizer["Modification du rôle"]</h2>
            @Localizer["Gestion du profil de l'utilisateur : "] <span style="font-weight:600"> @ViewBag.UserName </span>
        </div>
        
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">

                    <input type="hidden" asp-for="@Model[i].RoleId" />

                    <input type="hidden" asp-for="@Model[i].RoleName" />

                    <input asp-for="@Model[i].Selected" class="form-check-input" />

                    <label class="form-check-label" asp-for="@Model[i].Selected">
                        @Model[i].RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>

        <div class="card-footer">
            <input type="submit" value="@Localizer["Modifier"]"  class="btn btn-outline-primary" style="width:auto" />
            <a asp-action="Index" class="btn btn-outline-primary" style="width:auto">@Localizer["Annuler"]</a>
        </div>
    </div>
</form>