@model IEnumerable<Sih.Entities.Gestion.PieceJointesEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="AddOrUpdate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileContentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileNumerise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PieceType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileContentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileNumerise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qualite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inscription.InscriptionEntityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PieceType.PiecesTypeEntityId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PieceJointesEntityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PieceJointesEntityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PieceJointesEntityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
