@model IEnumerable<Sih.Entities.Gestion.VolEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddOrUpdate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numvol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datedepart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VilleId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numvol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datedepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VilleId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VolEntityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VolEntityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VolEntityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
