@model IEnumerable<Sih.Entities.Localisation.VilleEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="AddOrUpdate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomVille)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomVille)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region.RegionEntityId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VilleEntityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VilleEntityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VilleEntityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
